<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% block stylesheets %}
        {% do assets.addCss('theme://css/foundation.css',103) %}
        {% do assets.addCss('theme://css/bones-styles.css',102) %}
        {% do assets.addCss('theme://css/bones-colors.css',101) %}
        {% do assets.addCss('theme://css/chbcustom.css',11) %}
        {# force custom CSS load - hibbittsdesign.org #}
        {% do assets.addCss('theme://css/custom.css',10) %}
        {% if page.header.animate_css == "disabled" %}
        {% elseif page.header.animate_css == "enabled" or theme_config.animate_css.enabled %}
            {% do assets.addCss('theme://css/animate.css',115) %}
        {% endif %}
        {% if page.header.fontawesome == "disabled" %}
        {% elseif page.header.fontawesome == "enabled" or theme_config.fontawesome.enabled %}
            {% do assets.addCss('theme://css/font-awesome.min.css',115) %}
        {% endif %}
        {% if theme_config.site_title.enabled and theme_config.google_fonts_logo.enabled %}
            <link href="//fonts.googleapis.com/css?family=Special+Elite&text={{ site.title|e }}" type="text/css" rel="stylesheet" />
        {% endif %}
    {% endblock %}
    {{ assets.css() }}
    {# load custom JS - hibbittsdesign.org #}
    {% do assets.add('theme://js/my.js', 99) %}
    {% do assets.addJs('jquery',109) %}
    {{ assets.js() }}
{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}"{% if not grav.uri.param('onlydisplaypagecontent') %}{% else %} style="background-color: #fff;"{% endif %}>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-{{ theme_config.mobilemenu_position }}" id="offCanvas" data-off-canvas data-position="{{ theme_config.mobilemenu_position }}">
            <div class="row sg-center sg-spacer-small">
                <div class="sg-content">
                    {% set content = pages.find('/mobilemenu').content %}
                    {% if content %}
                        {{ content }}
                    {% endif %}
                    {% if config.plugins.langswitcher.enabled %}
                    <br />
                    {% include 'partials/langswitcher.html.twig' %}
                    {% endif %}
                </div>
            </div>
            <div id="mobile-navigation">
                {% block mobile_navigation %}
                {% include 'partials/navigation_mobile.html.twig' %}
                {% endblock %}
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>

        {# check content display flag - hibbittsdesign.org #}
        {% if not grav.uri.param('onlydisplaypagecontent') %}
        {% block topmenu %}
        {% set content = pages.find('/topmenu').content %}
        {% if content %}
        <div id="topmenu">
            <div class="row">
                <div class="large-5 columns text-left show-for-large">
                    <span><a href="http://www.bcit.ca/" target="_blank">British Columbia Institute of Technology</a></span>
                </div>
                <div class="large-7 columns text-right">
                    {{ content }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}

        {% block header %}
        <header id="header">

        	<div class="row sg-header">
                <div id="logo">
                    <a href="{{ base_url == '' ? '/' : base_url }}">
                        <img src="{{ url('theme://images/logo.png', true) }}" alt="{{ config.site.title }}" />
                    </a>
                </div>
                {% if theme_config.site_title.enabled %}
	            <div id="sg-header-title">
	                <a href="{{ base_url == '' ? '/' : base_url }}">
                        <h3{% if theme_config.google_fonts_logo.enabled %} style="font-family: 'Oswald','HelveticaNeue-CondensedBold','Helvetica Neue',Helvetica,sans-serif;"{% endif %}>{{ config.site.title }}</h3>
                    </a>
	            </div>
                {% endif %}
	            <div id="navigation" class="{% if theme_config.mobilemenu_breakpoint == 'all' %}hide{% else %}show-for-{{ theme_config.mobilemenu_breakpoint }}{% endif %}">
	                {% block header_extra %}{% endblock %}
	                {% if config.plugins.langswitcher.enabled %}
	                {% include 'partials/langswitcher.html.twig' %}
	                {% endif %}
	                {% block header_navigation %}
	                {% include 'partials/navigation.html.twig' %}
	                {% endblock %}
	            </div>
                {% if page.header.fontawesome == "disabled" %}
                    <button class="sg-mobilemenu-icon float-right hide-for-{{ theme_config.mobilemenu_breakpoint }}" data-open="offCanvas">[ menu ]</button>
                {% elseif page.header.fontawesome == "enabled" %}
                    <i class="mobile-nav-toggle fa fa-fw fa-bars float-right hide-for-{{ theme_config.mobilemenu_breakpoint }}" data-open="offCanvas"></i>
                {% elseif theme_config.fontawesome.enabled %}
                    <i class="mobile-nav-toggle fa fa-fw fa-bars float-right hide-for-{{ theme_config.mobilemenu_breakpoint }}" data-open="offCanvas"></i>
                {% else %}
                    <button class="sg-mobilemenu-icon float-right hide-for-{{ theme_config.mobilemenu_breakpoint }}" data-open="offCanvas">[ menu ]</button>
                {% endif %}
            </div>
        </header>
        {% endblock %}
        {% endif %}

        {% block body %}
        <section id="body" class="{{ class }}"{% if not grav.uri.param('onlydisplaypagecontent') %}{% else %} style="background-color: #fff;"{% endif %}>
          {# check content display flag - hibbittsdesign.org #}
          {% if not grav.uri.param('onlydisplaypagecontent') %}
          <div class="sg-page-title">
                <div class="row">
                    <div id="page-title">
                        <a href="{{ base_url == '' ? '/' : base_url }}">{{ site.title|e('html') }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block github %}
        {% if config.site.gitrepo.editlinklocation == 'page' and (not page.header.hidegithublink) %}
        {% if page.header.gitrepoeditlinkurl %}
          {% set gitrepoeditlinkurl = page.header.gitrepoeditlinkurl %}
        {% else %}
          {% set gitrepoeditlinkurl = config.site.gitrepo.edittreeurl ~  ('/'~page.filePathClean)|replace({'/user/':'/'}) %}
        {% endif %}
        <div id="github">
          <div class="row">
                <span class="float-left">
                    <a href="{{ gitrepoeditlinkurl }}" target="_blank" title="{{ config.site.gitrepo.editlinktext }}">
                    {% if config.site.gitrepo.editlinkicon %}
                      <i class="fa fa-{{ config.site.gitrepo.editlinkicon }}" aria-hidden="true"></i>
                    {% endif %}
                </a>
            </span>
            <p class="float-left">
                <span class="show-for-medium">Have a suggestion or correction?</span>
                <a href="{{ gitrepoeditlinkurl }}" target="_blank" title="{{ config.site.gitrepo.editlinktext }}">
                    <span>{{ config.site.gitrepo.editlinktext }}</span>
                </a>
            </p>
          </div>
        </div>
        {% endif %}
        {% endblock %}

        {# check content display flag - hibbittsdesign.org #}
        {% if not grav.uri.param('onlydisplaypagecontent') %}
        {% block footer %}
        {% set content = pages.find('/footer').content %}
        {% if content %}
        <footer id="footer">
            <div class="row">
                 {{ content }}
            </div>
        </footer>
        {% endif %}
        {% endblock %}

        {% block copyright %}
        {% set content = pages.find('/copyright').content %}
        {% if content %}
        <div id="copyright">
            <div class="row">
                <div class="medium-6 columns text-left">
                    <div class="show-for-small-only">{{ content }}</div>
                    <p><a href="https://getgrav.org/" target="_blank">Grav</a> | <a href="http://hibbittsdesign.org/blog/" target="_blank">Hibbitts Design</a> | <a href="https://www.smartgravity.com/" target="_blank">SmartGravity</a></p>
                </div>
                <div class="medium-6 columns text-right show-for-medium">
                    {{ content }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}
        {% endif %}

        {% block bottom %}
            {% block javascripts %}
                {% do assets.addJs('theme://js/what-input.js',{'priority':105, 'group':'bottom'}) %}
                {% do assets.addJs('theme://js/foundation.js',{'priority':104, 'group':'bottom'}) %}
                {% if page.header.wow_js == "disabled" %}
                {% elseif page.header.wow_js == "enabled" or theme_config.wow_js.enabled %}
                    {% do assets.addJs('theme://js/wow.js',{'priority':101, 'group':'bottom'}) %}
                    {% do assets.addInlineJs('var wow = new WOW();wow.init();',{'priority':99, 'pipeline':false, 'group':'bottom'}) %}
                {% endif %}
                {% if page.header.google_prettify == "disabled" %}
                {% elseif page.header.google_prettify == "enabled" or theme_config.google_prettify.enabled %}
                    {% do assets.addJs('https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js',{'priority':100, 'group':'bottom'}) %}
                {% endif %}
                {% do assets.addInlineJs('$(document).foundation();',{'priority':99, 'pipeline':false, 'group':'bottom'}) %}
            {% endblock %}
            {{ assets.js('bottom') }}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
